<!DOCTYPE>
<HTML>
  <HEAD>
    <STYLE>
    span {
      font-size: 15px;
      color: #0C5D89;
      font-family: georgia, serif;
    }
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
    }
    tr td{
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    </STYLE>
  </HEAD>
  <BODY>
    <span>${text1}</span>
    <br>
    <br>
    <span>${text2}</span>
    <br>
    <br>
    <span>${text3}</span>
    <br>
    <br>
    <table>
      <thead>
        <tr style="background-color: #dddddd;">
          <th>Fecha de la Transacción</th>
          <th>Folio Partida</th>
          <th>Transacción</th>
          <th>Código de Descuento</th>
          <th>Tipo de Transacción</th>
          <th>Monto de la Transacción</th>
          <th>Tipo de Moneda</th>
          <th>Tipo de Cuenta</th>
          <th>Código de Respuesta de Motor de Pagos de Transacción</th>
          <th>Método de Pago</th>
          <th>Identificador de Cuenta</th>
          <th>Id de Terminal de Adquiriente</th>
          <th>Titular de la Cuenta</th>
          <th>Código de Autorización</th>
          <th>Código de Respuesta de Adquiriente</th>
          <th>Número de Lote de Adquiriente</th>
          <th>Fuente de Transacción</th>
        </tr>
      </thead>
      <tbody>
        #foreach( $elem in $elements )
          <tr>
            <td>$elem.fechaTransaccion</td>
            <td>$elem.folioPartida</td>
            <td>$elem.transaccion</td>
            <td>$elem.codigoDescuento</td>
            <td>$elem.tipoTransaccion</td>
            <td>$elem.montoTransaccion</td>
            <td>$elem.tipoMoneda</td>
            <td>$elem.tipoCuenta</td>
            <td>$elem.codigoRespuestaMotorPagosTransaccion</td>
            <td>$elem.metodoPago</td>
            <td>$elem.identificadorCuenta</td>
            <td>$elem.idTerminalAdquiriente</td>
            <td>$elem.titularCuenta</td>
            <td>$elem.codigoAutorizacion</td>
            <td>$elem.codigoRespuestaAdquiriente</td>
            <td>$elem.numeroLoteAdquiriente</td>
            <td>$elem.fuenteTransaccion</td>
          </tr>
        #end
      </tbody>
    </table>
  </BODY>
</HTML>
