<!DOCTYPE>
<HTML>
  <HEAD>
    <STYLE>
    span {
      font-size: 15px;
      color: #0C5D89;
      font-family: georgia, serif;
    }
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
    }
    tr td{
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    </STYLE>
  </HEAD>
  <BODY>
  <span>Buenas tardes.</span>
  <br>
  <br>
  <span>Solicito de su apreciable ayuda para validar y enviar los layouts del proceso de conciliación de forma manual a través del portal de MiMonte Conciliación, ya que se encontraron diferencias en los montos acumulados de los layout generados por el proceso automatizado.</span>
  <br>
  <br>
  <span>Los datos del proceso de conciliación en cuestión se enlistan en la siguiente tabla:</span>
  <br>
  <table>
    <thead>
    <tr style="background-color: #dddddd;">
      <th>Folio</th>
      <th>Fecha Inicio</th>
      <th>Fecha Fin</th>
      <th>Corresponsal</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>$elemento.folio</td>
      <td>$elemento.fechaInicio</td>
      <td>$elemento.fechaFin</td>
      <td>$elemento.correponsal</td>
    </tr>
    </tbody>
  </table>
  <br>
  <span>En espera de sus comentarios y apreciable ayuda. Gracias.</span>
  <br>
  </BODY>
</HTML>
