<!DOCTYPE>
<HTML>
  <HEAD>
    <STYLE>
    span {
      font-size: 15px;
      color: #0C5D89;
      font-family: georgia, serif;
    }
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
    }
    tr td{
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    </STYLE>
  </HEAD>
  <BODY>
    <span>Buenos días.</span>
    <br>
    <br>
    <span>Solicito de su apreciable ayuda para ejecutar el proceso de conciliación de los movimientos nocturnos de MIDAS  y los movimientos del proveedor transaccional de forma manual a través del portal de MiMonte Conciliación, utilizando como parámetros los datos enlistados en la tabla, ya que no fue posible ejecutar el proceso de forma automática.</span>
    <br>
    <br>
    <table>
      <thead>
        <tr style="background-color: #dddddd;">
          <th>Corresponsal</th>
          <th>Entidad</th>
          <th>Cuenta</th>
          <th>Fecha Inicio Movimientos</th>
          <th>Fecha Fin Movimientos</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td>$elemento.correponsal</td>
            <td>$elemento.idEntidad - $elemento.entidad</td>
            <td>$elemento.idCuenta - $elemento.cuenta</td>
            <td>$elemento.fechaInicio</td>
            <td>$elemento.fechaFin</td>
          </tr>
      </tbody>
    </table>
    <br>
    <span>En espera de sus comentarios y apreciable ayuda. Gracias.</span>
    <br>
  </BODY>
</HTML>
