<!DOCTYPE>
<HTML>
  <HEAD>
    <STYLE>
    span {
      font-size: 15px;
      color: #0C5D89;
      font-family: georgia, serif;
    }
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
    }
    tr td{
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    </STYLE>
  </HEAD>
  <BODY>
    <span>Buenos días.</span>
    <br>
    <br>
    <span>Solicito de su apreciable ayuda para ejecutar el proceso de conciliación de los movimientos del estado de cuenta de forma manual a través del portal de MiMonte Conciliación, ya que no fue posible ejecutar el proceso de forma automática.</span>
    <br>
    <br>
    <span>Los datos del proceso de conciliación en cuestión se enlistan en la siguiente tabla:</span>
    <br>
    <br>
    <table>
      <thead>
        <tr style="background-color: #dddddd;">
          <th>Folio</th>
          <th>Corresponsal</th>
          <th>Entidad</th>
          <th>Cuenta</th>
          <th>Fecha Inicio Movimientos</th>
          <th>Fecha Fin Movimientos</th>
          <th>Fecha Inicial Estado de Cuenta</th>
          <th>Fecha Final Estado de Cuenta</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td>$elementoE2.folio</td>
            <td>$elementoE2.correponsal</td>
            <td>$elementoE2.idEntidad - $elementoE2.entidad</td>
            <td>$elementoE2.idCuenta - $elementoE2.cuenta</td>
            <td>$elementoE2.fechaInicio</td>
            <td>$elementoE2.fechaFin</td>
            <td>$elementoE2.fechaInicial</td>
            <td>$elementoE2.fechaFinal</td>
          </tr>
      </tbody>
    </table>
    <br>
    <br>
    <span>En espera de sus comentarios y apreciable ayuda. Gracias.</span>
    <br>
  </BODY>
</HTML>
